//@use "@material/top-app-bar/mdc-top-app-bar";
//@use "@material/icon-button/mdc-icon-button";


.Header {
  position: relative;
  margin-left: 10%;
  margin-right: 15%;
  width : 75%;
  height: 7vh;
  background-color:black;
}

.button-div {
  margin-top: 1.9%;
}
