
.Item {
    padding-top: 5%;
    padding-bottom: 5%;
}

.Text {
    width: 75%;
}
.dButton {
    margin-left: 15%;
    display:block;
}

.EditItem {
    padding-top: 5%;
    padding-bottom: 5%;
}

.e_form {
    width: 100%;
}

.editB {
    display: flex;
    align-items: center;
}