// @use "../../node_modules/@material/fab";
// @import "../../node_modules/@material/textfield/mdc-text-field";

// @include fab.core-styles;

.username,
.password {
  display: flex;
  margin: 20px auto;
  width: 300px;
}

// .Textfield
// {
//   display: block;
//   margin: 20px auto;
//   width: 300px;
// }
