@use "../node_modules/@material/top-app-bar/mdc-top-app-bar";
@import "@material/icon-button/mdc-icon-button";
@import "@material/list/mdc-list";


.Header {
  display:flex;
  position: relative;
}

.Searchbar {
  display:block;
}

.app {
  display: block;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.newentry {
  display:block;
}
// .contact_n,
// .contact_d {

// }