@use "@material/fab";
@use "@material/list/mdc-list";
@use "@material/textfield/mdc-text-field";
@use "@material/icon-button/mdc-icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";

@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";

@use "./components/Button.scss";
@use "./components/Contact.scss";
@use "./components/SearchBar.scss";
@use "./components/Textfield.scss";

@use "./App/App.scss";
@use "./Login/Login.scss";


.Login {
    text-align: center;
  }

input {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 16em;
}